body {
    background-color: #3a3736;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.container {
    background-image: linear-gradient(180deg, #789461 0%, #F5EEDC 40%, #C0D8C0 100%);
    width: 30%;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #DD4A48;
    border-bottom: 2px solid rgb(54, 54, 54);
    border-radius: 2px;
    padding-bottom: 12px;
}

li {
    list-style: none;
    padding: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
    color: #DD4A48;;
}
a:hover {
    color: #ECB390;
    font-style: italic;
}