body {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-image: linear-gradient(135deg,#C0D8C0 0%, #F5EEDC 30%, #ECB390 100%) ;
    height: 100vh;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #494949d8;
}

ul {
    margin-top: 32px;
}

li {
    list-style: none;
    padding: 16px;
    min-width: 360px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
    color: #DD4A48;
}
a:hover {
    color: #ECB390;
    font-style: italic;
}